---
import Container from "@/components/Container.astro";
import { cn } from "@/lib/cn";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<header class={cn("sticky top-0  backdrop-filter backdrop-blur", className)}>
  <Container>
    <div class="flex justify-between">
      <h1>
        <a href="/" class="text-md"> Joseph Campuzano </a>
      </h1>
    </div>
    <hr class="border-0 border-t border-neutral-500 mt-4 h-0" />
  </Container>
</header>
