---
import Container from "@/components/Container.astro";
import { cn } from "@/lib/cn";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<header
  class={cn("sticky top-0  backdrop-filter backdrop-blur border-b border-neutral-900", className)}
>
  <Container class="flex justify-between">
    <h1>
      <a href="/" class="text-md"> Joseph Campuzano </a>
    </h1>
  </Container>
</header>
