---
interface Props {
  tags: string[];
}

const props = Astro.props;
---

{
  props.tags.length ? (
    <ul class="flex space-x-2">
      {props.tags.map((tag) => (
        <li class="px-3 py-2 border border-neutral-500 text-white text-xs">{tag}</li>
      ))}
    </ul>
  ) : null
}
