---
interface Props {
  tags: string[];
}

const props = Astro.props;
---

{
  props.tags.length ? (
    <ul class="flex space-x-2">
      {props.tags.map((tag) => (
        <li class="px-3 py-2 bg-neutral-800 bg-gradient-to-br from-[#1E1140] to-[#571487] rounded-md text-xs">
          {tag}
        </li>
      ))}
    </ul>
  ) : null
}
