<div
  data-scroll-progress-bar
  style={{ "--t": 0 }}
  class="fixed top-0 left-0 h-1 z-10 w-full bg-violet-700 origin-left scale-x-[var(--t)]"
>
</div>

<script>
  const getScrollEl = () => document.querySelector<HTMLDivElement>("[data-scroll-progress-bar]");

  const getScrollPercentage = (el = document.scrollingElement) => {
    if (!el) {
      return 0;
    }

    return el.scrollTop / (el.scrollHeight - el.clientHeight);
  };

  const setScrollTransform = () => {
    const el = getScrollEl();

    if (el) {
      requestAnimationFrame(() => {
        el.style.setProperty("--t", `${getScrollPercentage()}`);
      });
    }
  };

  document.addEventListener("astro:page-load", () => {
    setScrollTransform();
  });
  window.addEventListener("scroll", setScrollTransform);
</script>
